# ``jenga`` Corruptions

This notebook illustrates some of the corruptions used in jenga

Most corruptions are operating on tabular data, for which different sampling mechanisms are used. 

Inspired by research on missing values, we consider three different sampling schemes for corrupting tabular data (we'll keep using the 'missingness' terminology here, even if we use other corruptions than discarding data):

* **MCAR** Missing completely at random
* **MAR** Missing at random - corruption is conditioned on other column
* **MNAR** Missing not at random - corruption is conditioned on values in column on which it is applied

In [1]:
%load_ext autoreload
%autoreload 2

import random
import pandas as pd
import numpy as np

from jenga.corruptions.generic import MissingValues

In [2]:
def new_df(N=20):
    return pd.DataFrame({
        'A':np.arange(0,N) / N, 
        'B': [random.choice(['a','b','c']) for _ in range(N)],
        'C': [random.choice(['foo','bah']) for _ in range(N)]
        })

## Missing Values

Below some examples on different row sampling strategies for corruptions with missing values

In [3]:
from jenga.corruptions.generic import MissingValues

df = new_df()

df['B_MCAR'] = MissingValues(column='B', fraction=.5, missingness='MCAR').transform(df)['B']
df['B_MAR'] = MissingValues(column='B', fraction=.5, missingness='MAR').transform(df)['B']
df['B_MNAR'] = MissingValues(column='B', fraction=.5, missingness='MNAR').transform(df)['B']

df

       A  B    C B_MCAR B_MAR B_MNAR
0   0.00  a  bah    NaN     a      a
1   0.05  c  bah      c   NaN      c
2   0.10  b  bah    NaN   NaN    NaN
3   0.15  c  foo    NaN     c      c
4   0.20  c  foo      c     c      c
5   0.25  a  bah    NaN   NaN    NaN
6   0.30  a  foo      a     a    NaN
7   0.35  c  foo    NaN     c    NaN
8   0.40  b  bah      b   NaN    NaN
9   0.45  c  bah      c   NaN      c
10  0.50  b  bah    NaN   NaN    NaN
11  0.55  c  bah      c   NaN      c
12  0.60  c  foo      c     c      c
13  0.65  c  foo    NaN     c      c
14  0.70  b  foo      b     b    NaN
15  0.75  b  bah    NaN   NaN    NaN
16  0.80  a  bah    NaN   NaN      a
17  0.85  c  bah      c     c      c
18  0.90  a  foo      a     a    NaN
19  0.95  b  bah    NaN   NaN    NaN

If we sort according to the values in the column on which the corruption as applied, we see that the 'MNAR' condition works as it should

In [4]:
df.sort_values('B')

       A  B    C B_MCAR B_MAR B_MNAR
0   0.00  a  bah    NaN     a      a
16  0.80  a  bah    NaN   NaN      a
5   0.25  a  bah    NaN   NaN    NaN
6   0.30  a  foo      a     a    NaN
18  0.90  a  foo      a     a    NaN
15  0.75  b  bah    NaN   NaN    NaN
14  0.70  b  foo      b     b    NaN
10  0.50  b  bah    NaN   NaN    NaN
19  0.95  b  bah    NaN   NaN    NaN
2   0.10  b  bah    NaN   NaN    NaN
8   0.40  b  bah      b   NaN    NaN
7   0.35  c  foo    NaN     c    NaN
4   0.20  c  foo      c     c      c
11  0.55  c  bah      c   NaN      c
12  0.60  c  foo      c     c      c
13  0.65  c  foo    NaN     c      c
3   0.15  c  foo    NaN     c      c
1   0.05  c  bah      c   NaN      c
17  0.85  c  bah      c     c      c
9   0.45  c  bah      c   NaN      c

## Swapping Values

Also works between numeric and non-numeric values, with different sampling schemes

In [5]:
from jenga.corruptions.generic import SwappedValues
df = new_df()
df['C_swapped_MAR'] = SwappedValues(column='B', fraction=.5, sampling='MAR').transform(df)['C']
df['C_swapped_MCAR'] = SwappedValues(column='B', fraction=.5, sampling='MCAR').transform(df)['C']
df['A_swapped_MCAR'] = SwappedValues(column='A', fraction=.5, sampling='MCAR').transform(df)['A']
df

       A  B    C C_swapped_MAR C_swapped_MCAR A_swapped_MCAR
0   0.00  a  foo           foo            foo            0.0
1   0.05  b  foo             b            foo              b
2   0.10  b  bah             b            bah            0.1
3   0.15  a  bah             a            bah           0.15
4   0.20  b  foo             b            foo              b
5   0.25  b  foo             b            foo           0.25
6   0.30  c  foo             c            foo            0.3
7   0.35  c  bah             c            bah              c
8   0.40  a  foo             a            foo            0.4
9   0.45  a  bah           bah            bah              a
10  0.50  a  bah           bah            bah            0.5
11  0.55  a  bah           bah            bah           0.55
12  0.60  c  bah           bah            bah              c
13  0.65  a  foo             a            foo              a
14  0.70  b  bah           bah            bah              b
15  0.75  a  bah           bah            bah           0.75
16  0.80  b  bah           bah            bah            0.8
17  0.85  a  foo           foo            foo              a
18  0.90  c  foo             c            foo              c
19  0.95  a  bah           bah            bah              a

## Messing up categorical Values

These corruptions permute the histogram of values

In [6]:
from jenga.corruptions.generic import CategoricalShift
df = new_df()
df['C_permuted_MAR'] = CategoricalShift(column='B', fraction=.5, sampling='MAR').transform(df)['C']
df['C_permuted_MCAR'] = CategoricalShift(column='B', fraction=.5, sampling='MCAR').transform(df)['C']
df['A_permuted_MCAR'] = CategoricalShift(column='A', fraction=.5, sampling='MCAR').transform(df)['A']
df

CategoricalShift implemented only for categorical variables

       A  B    C C_permuted_MAR C_permuted_MCAR  A_permuted_MCAR
0   0.00  c  bah            bah             bah             0.00
1   0.05  b  bah            bah             bah             0.05
2   0.10  c  foo            foo             foo             0.10
3   0.15  b  bah            bah             bah             0.15
4   0.20  a  bah            bah             bah             0.20
5   0.25  b  bah            bah             bah             0.25
6   0.30  c  foo            foo             foo             0.30
7   0.35  b  foo            foo             foo             0.35
8   0.40  b  bah            bah             bah             0.40
9   0.45  c  bah            bah             bah             0.45
10  0.50  a  bah            bah             bah             0.50
11  0.55  b  foo            foo             foo             0.55
12  0.60  c  foo            foo             foo             0.60
13  0.65  b  bah            bah             bah             0.65
14  0.70  a  foo            foo             foo             0.70
15  0.75  a  foo            foo             foo             0.75
16  0.80  a  foo            foo             foo             0.80
17  0.85  a  foo            foo             foo             0.85
18  0.90  b  bah            bah             bah             0.90
19  0.95  c  foo            foo             foo             0.95

## Adding Gaussian Noise

In [7]:
from jenga.corruptions.numerical import GaussianNoise
df = new_df()
df['A_GaussNoise_MAR'] = GaussianNoise(column='A', fraction=.5, sampling='MAR').transform(df)['A']
df['A_GaussNoise__MCAR'] = GaussianNoise(column='A', fraction=.5, sampling='MCAR').transform(df)['A']
df

       A  B    C  A_GaussNoise_MAR  A_GaussNoise__MCAR
0   0.00  c  foo          0.000000            0.375077
1   0.05  a  bah          0.050000            0.580530
2   0.10  a  foo          0.100000            0.100000
3   0.15  b  bah         -2.427858            0.082609
4   0.20  b  foo          1.114760            0.200000
5   0.25  a  bah          0.030722           -0.635990
6   0.30  c  foo          0.300000            0.300000
7   0.35  b  foo         -0.675669            0.350000
8   0.40  c  bah          0.400000            0.400000
9   0.45  c  foo          0.450000            0.083701
10  0.50  b  foo          0.924160            0.500000
11  0.55  a  foo          0.783916            1.022801
12  0.60  b  bah          0.600000            0.159303
13  0.65  c  bah          0.650000            0.650000
14  0.70  a  foo         -2.517584            0.933758
15  0.75  a  bah          1.328294            0.141334
16  0.80  a  bah         -1.188958            0.800000
17  0.85  c  foo          0.850000            0.850000
18  0.90  c  foo          0.900000            0.900000
19  0.95  b  foo          2.227933            0.903568

## Scaling numeric values

In [8]:
from jenga.corruptions.numerical import Scaling
df = new_df()
df['A_Scaled_MAR'] = Scaling(column='A', fraction=.5, sampling='MAR').transform(df)['A']
df['A_Scaled_MCAR'] = Scaling(column='A', fraction=.5, sampling='MCAR').transform(df)['A']
df

       A  B    C  A_Scaled_MAR  A_Scaled_MCAR
0   0.00  c  bah          0.00           0.00
1   0.05  a  bah         50.00           0.05
2   0.10  a  bah        100.00          10.00
3   0.15  c  foo          0.15          15.00
4   0.20  c  bah        200.00           0.20
5   0.25  a  foo          0.25          25.00
6   0.30  b  bah          0.30           0.30
7   0.35  a  foo          0.35           0.35
8   0.40  c  foo          0.40          40.00
9   0.45  c  bah        450.00           0.45
10  0.50  a  bah        500.00          50.00
11  0.55  c  foo          0.55          55.00
12  0.60  c  bah        600.00           0.60
13  0.65  a  bah        650.00           0.65
14  0.70  b  bah        700.00          70.00
15  0.75  a  foo          0.75           0.75
16  0.80  b  foo          0.80          80.00
17  0.85  c  foo          0.85           0.85
18  0.90  c  bah        900.00          90.00
19  0.95  a  bah          0.95          95.00