In [1]:
import keras
import tensorflow as tf
print(keras.__version__)
print(tf.__version__)

2.5.0
2.5.0

In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

NGRAMS = 2
SAMPLE = 1000000
EPOCHS = 20

# Florida voter
df = pd.read_csv('/opt/data/fl_voterreg/fl_reg_name_race.csv.gz')
df.dropna(subset=['name_first', 'name_last'], inplace=True)
df['race'] = df.race.map({'native_indian': 'other', 'asian': 'asian', 'nh_black': 'nh_black', 'hispanic': 'hispanic', 'nh_white': 'nh_white', 'other': 'other', 'multi_racial': 'other', 'unknown': 'unknown'})
df

            name_last name_first      race
0              Walker  Elizabeth  nh_white
1              Palmer      Alton  nh_white
2            Mc Cleod     Alicia  nh_black
3         Scarborough       Dale  nh_white
4              Walker     Daniel  nh_white
...               ...        ...       ...
13710353      Walters    William  nh_white
13710354       Sawyer    Matthew  nh_white
13710355       Thomas     Janine  nh_white
13710356     Campbell      Angel     other
13710357       Bruner        Jeb  nh_white

[13710134 rows x 3 columns]

In [3]:
sdf = df[df.race.isin(['unknown']) == False].groupby(['race']).sample(int(SAMPLE/5), random_state=21)
del df

# Additional features
sdf['name_first'] = sdf.name_first.str.title()
sdf['name_last'] = sdf.name_last.str.title()
sdf

         name_last name_first   race
5731290        Rao    Kranthi  asian
3915605    Hossain     Tanjim  asian
689897      Nguyen        Bao  asian
8981436    Samaroo       Ryan  asian
11674974  Ramnauth       Ryan  asian
...            ...        ...    ...
11684362     Lewis    Brianna  other
5329148      Hughs      James  other
7712522      Times    Douglas  other
13637468   Knutson  Elizabeth  other
6276957      Vigil       Judy  other

[1000000 rows x 3 columns]

In [4]:
rdf = sdf.groupby('race').agg({'name_last': 'count'})
rdf.to_csv('./fl_voter_reg/lstm/fl_name_five_cat_race.csv', columns=[])
rdf

          name_last
race
asian        200000
hispanic     200000
nh_black     200000
nh_white     200000
other        200000

In [5]:
sdf.groupby('race').agg({'name_last': 'nunique'})

          name_last
race
asian         49168
hispanic      47270
nh_black      28558
nh_white      64985
other         65497

## Preprocessing the input data

In [6]:
# concat last name and first name
sdf['name_last_name_first'] = sdf['name_last'] + ' ' + sdf['name_first']

# build n-gram list
vect = CountVectorizer(analyzer='char', max_df=0.3, min_df=3, ngram_range=(NGRAMS, NGRAMS), lowercase=False) 
a = vect.fit_transform(sdf.name_last_name_first)
vocab = vect.vocabulary_

# sort n-gram by freq (highest -> lowest)
words = []
for b in vocab:
    c = vocab[b]
    #print(b, c, a[:, c].sum())
    words.append((a[:, c].sum(), b))
    #break
words = sorted(words, reverse=True)
words_list = [w[1] for w in words]
num_words = len(words_list)
print("num_words = %d" % num_words)


def find_ngrams(text, n):
    a = zip(*[text[i:] for i in range(n)])
    wi = []
    for i in a:
        w = ''.join(i)
        try:
            idx = words_list.index(w)
        except:
            idx = 0
        wi.append(idx)
    return wi

# build X from index of n-gram sequence
X = np.array(sdf.name_last_name_first.apply(lambda c: find_ngrams(c, NGRAMS)))

# check max/avg feature
X_len = []
for x in X:
    X_len.append(len(x))

max_feature_len = max(X_len)
avg_feature_len = int(np.mean(X_len))

print("Max feature len = %d, Avg. feature len = %d" % (max_feature_len, avg_feature_len))
y = np.array(sdf.race.astype('category').cat.codes)

# Split train and test dataset
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)

num_words = 1322
Max feature len = 44, Avg. feature len = 12

## Train a LSTM model

ref: http://machinelearningmastery.com/sequence-classification-lstm-recurrent-neural-networks-python-keras/

In [7]:
'''The dataset is actually too small for LSTM to be of any advantage
compared to simpler, much faster methods such as TF-IDF + LogReg.
Notes:

- RNNs are tricky. Choice of batch size is important,
choice of loss and optimizer is critical, etc.
Some configurations won't converge.

- LSTM loss decrease patterns during training can be quite different
from what you see with CNNs/MLPs/etc.
'''
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding, Dropout, Activation
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.models import load_model

max_features = num_words # 20000
feature_len = 20 # avg_feature_len # cut texts after this number of words (among top max_features most common words)
batch_size = 32

print(len(X_train), 'train sequences')
print(len(X_test), 'test sequences')

print('Pad sequences (samples x time)')
X_train = sequence.pad_sequences(X_train, maxlen=feature_len)
X_test = sequence.pad_sequences(X_test, maxlen=feature_len)
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)

num_classes = np.max(y_train) + 1
print(num_classes, 'classes')

print('Convert class vector to binary class matrix '
      '(for use with categorical_crossentropy)')
y_train = tf.keras.utils.to_categorical(y_train, num_classes)
y_test = tf.keras.utils.to_categorical(y_test, num_classes)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

800000 train sequences
200000 test sequences
Pad sequences (samples x time)
X_train shape: (800000, 20)
X_test shape: (200000, 20)
5 classes
Convert class vector to binary class matrix (for use with categorical_crossentropy)
y_train shape: (800000, 5)
y_test shape: (200000, 5)

In [8]:
print('Build model...')

model = Sequential()
model.add(Embedding(num_words, 32, input_length=feature_len))
model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(num_classes, activation='softmax'))

# try using different optimizers and different optimizer configs
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

print(model.summary())

Build model...
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 20, 32)            42304
_________________________________________________________________
lstm (LSTM)                  (None, 128)               82432
_________________________________________________________________
dense (Dense)                (None, 5)                 645
=================================================================
Total params: 125,381
Trainable params: 125,381
Non-trainable params: 0
_________________________________________________________________
None

In [9]:
print('Train...')
model.fit(X_train, y_train, batch_size=batch_size, epochs=EPOCHS,
          validation_split=0.1, verbose=1)
score, acc = model.evaluate(X_test, y_test,
                            batch_size=batch_size, verbose=1)
print('Test score:', score)
print('Test accuracy:', acc)

Train...
Epoch 1/20
22500/22500 [==============================] - 1483s 64ms/step - loss: 1.1888 - accuracy: 0.5139 - val_loss: 1.0783 - val_accuracy: 0.5681
Epoch 2/20
22500/22500 [==============================] - 1220s 54ms/step - loss: 1.0745 - accuracy: 0.5697 - val_loss: 1.0451 - val_accuracy: 0.5841
Epoch 3/20
22500/22500 [==============================] - 984s 44ms/step - loss: 1.0437 - accuracy: 0.5834 - val_loss: 1.0262 - val_accuracy: 0.5929
Epoch 4/20
22500/22500 [==============================] - 981s 44ms/step - loss: 1.0272 - accuracy: 0.5924 - val_loss: 1.0163 - val_accuracy: 0.5981
Epoch 5/20
22500/22500 [==============================] - 980s 44ms/step - loss: 1.0193 - accuracy: 0.5960 - val_loss: 1.0087 - val_accuracy: 0.6012
Epoch 6/20
22500/22500 [==============================] - 979s 43ms/step - loss: 1.0121 - accuracy: 0.5994 - val_loss: 1.0064 - val_accuracy: 0.6031
Epoch 7/20
22500/22500 [==============================] - 982s 44ms/step - loss: 1.0057 - accuracy: 0.6011 - val_loss: 1.0015 - val_accuracy: 0.6046
Epoch 8/20
22500/22500 [==============================] - 980s 44ms/step - loss: 1.0033 - accuracy: 0.6035 - val_loss: 0.9996 - val_accuracy: 0.6063
Epoch 9/20
22500/22500 [==============================] - 972s 43ms/step - loss: 1.0019 - accuracy: 0.6040 - val_loss: 0.9993 - val_accuracy: 0.6070
Epoch 10/20
22500/22500 [==============================] - 970s 43ms/step - loss: 0.9985 - accuracy: 0.6053 - val_loss: 0.9953 - val_accuracy: 0.6084
Epoch 11/20
22500/22500 [==============================] - 969s 43ms/step - loss: 0.9951 - accuracy: 0.6068 - val_loss: 0.9962 - val_accuracy: 0.6087
Epoch 12/20
22500/22500 [==============================] - 966s 43ms/step - loss: 0.9938 - accuracy: 0.6075 - val_loss: 0.9953 - val_accuracy: 0.6086
Epoch 13/20
22500/22500 [==============================] - 966s 43ms/step - loss: 0.9932 - accuracy: 0.6075 - val_loss: 0.9920 - val_accuracy: 0.6096
Epoch 14/20
22500/22500 [==============================] - 968s 43ms/step - loss: 0.9932 - accuracy: 0.6078 - val_loss: 0.9923 - val_accuracy: 0.6096
Epoch 15/20
22500/22500 [==============================] - 968s 43ms/step - loss: 0.9925 - accuracy: 0.6089 - val_loss: 0.9898 - val_accuracy: 0.6119
Epoch 16/20
22500/22500 [==============================] - 967s 43ms/step - loss: 0.9904 - accuracy: 0.6101 - val_loss: 0.9890 - val_accuracy: 0.6119
Epoch 17/20
22500/22500 [==============================] - 968s 43ms/step - loss: 0.9923 - accuracy: 0.6080 - val_loss: 0.9893 - val_accuracy: 0.6123
Epoch 18/20
22500/22500 [==============================] - 968s 43ms/step - loss: 0.9871 - accuracy: 0.6104 - val_loss: 0.9888 - val_accuracy: 0.6122
Epoch 19/20
22500/22500 [==============================] - 967s 43ms/step - loss: 0.9882 - accuracy: 0.6104 - val_loss: 0.9869 - val_accuracy: 0.6118
Epoch 20/20
22500/22500 [==============================] - 968s 43ms/step - loss: 0.9880 - accuracy: 0.6100 - val_loss: 0.9867 - val_accuracy: 0.6113
6250/6250 [==============================] - 46s 7ms/step - loss: 0.9814 - accuracy: 0.6142
Test score: 0.9813680648803711
Test accuracy: 0.614234983921051

In [10]:
print('Test score:', score)
print('Test accuracy:', acc)

Test score: 0.9813680648803711
Test accuracy: 0.614234983921051

## Confusion Matrix

In [11]:
p = model.predict(X_test, verbose=2) # to predict probability
y_pred = np.argmax(p, axis=-1)
target_names = list(sdf.race.astype('category').cat.categories)
print(classification_report(np.argmax(y_test, axis=1), y_pred, target_names=target_names))
print(confusion_matrix(np.argmax(y_test, axis=1), y_pred))

6250/6250 - 31s
              precision    recall  f1-score   support

       asian       0.74      0.69      0.71     40000
    hispanic       0.74      0.86      0.80     40000
    nh_black       0.57      0.76      0.65     40000
    nh_white       0.50      0.67      0.58     40000
       other       0.39      0.09      0.14     40000

    accuracy                           0.61    200000
   macro avg       0.59      0.61      0.58    200000
weighted avg       0.59      0.61      0.58    200000

[[27580  3320  2967  4164  1969]
 [ 1220 34473  1354  2218   735]
 [  932   846 30421  6655  1146]
 [ 1184  2142  8139 26940  1595]
 [ 6438  5781 10955 13393  3433]]

## Save model

In [12]:
model.save('./fl_voter_reg/lstm/fl_all_fullname_lstm_5_cat.h5')

In [13]:
words_df = pd.DataFrame(words_list, columns=['vocab'])
words_df.to_csv('./fl_voter_reg/lstm/fl_all_fullname_vocab_5_cat.csv', index=False, encoding='utf-8')